{% load i18n extra_fields bleach_tags %}

<div id="project_history_details_{{ project.id }}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-super-sized modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% blocktrans with project=project %}Additional Details for {{ project }}{% endblocktrans %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body extra-field-modal-content">

        <h5>{% trans "Description" %}</h5>
        {% if project.description %}
          {{ project.description|bleach }}
        {% else %}
          {% url 'rolodex:project_update' project.id as fix_url %}
          <p class="text-justify">{% blocktrans %}No one has added a description of this project. <a class="clickable" href="{{ fix_url }}">Fix that here.</a>{% endblocktrans %}</p>
        {% endif %}

        <h5>{% trans "Assignments:" %}<br></h5>
        {% if project.projectassignment_set.all %}
          <ul>
            {% for assignment in project.projectassignment_set.all %}
              <li>
                {% if assignment.operator.name %}
                  {{ assignment.operator.name }} ({{ assignment.operator.username }})
                {% else %}
                  {% blocktrans with username=assignment.operator.username %}Missing Full Name ({{ username }}){% endblocktrans %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "No assignments found." %}</p>
        {% endif %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary col-3" data-dismiss="modal">{% trans "Close" %}</button>
      </div>
    </div>
  </div>
</div>
