{% load custom_tags i18n %}

<li class="nav-item">
    <a id="id_status" class="nav-link tab-icon planning-icon" data-toggle="tab" href="#status">
        {% trans "Status" %}
    </a>
</li>
<li class="nav-item">
    <a id="id_findings" class="nav-link active tab-icon tasks-icon" data-toggle="tab" href="#findings">
        {% trans "Findings" %}
    </a>
</li>
<li class="nav-item">
    <a id="id_observations" class="nav-link tab-icon tasks-icon" data-toggle="tab" href="#observations">
        {% trans "Observations" %}
    </a>
</li>
<li class="nav-item">
    <a id="id_evidence" class="nav-link tab-icon whitecard-icon" data-toggle="tab" href="#evidence">
        {% trans "Report Evidence" %}
    </a>
</li>
{% if report_extra_fields_spec %}
<li class="nav-item">
    <a id="id_extra-fields" class="nav-link tab-icon custom-field-icon" data-toggle="tab" href="#extra-fields">
        {% trans "Extra Fields" %}
    </a>
</li>
{% endif %}
<li class="nav-item">
    <a id="id_generate" class="nav-link tab-icon bullseye-icon" data-toggle="tab" href="#generate">
        {% trans "Generate" %}
    </a>
</li>
