{% extends "base_generic.html" %}
{% load i18n %}

{% load static %}

{% block title %}{% trans "Server Error (500)" %}{% endblock %}

{% block content %}
    <h2>{% trans "Server Error (500)" %}</h2>

    <img src="{% static 'images/scared.png' %}" alt="500 Ghost Image" style="max-width: 250px;">

  <p class="mt-3">{% trans "This is so embarassing! Something went wrong on our end." %}</p>

    <div class="alert alert-warning offset-md-2 col-md-8 mt-3" role="alert">
      {% blocktrans %}<strong>Please Help Us:</strong> You should never see this page. If you do, please consider reporting
      the steps you took leading up to this error to the Ghostwriter development team on
      <a href="https://github.com/ghostwriter/ghostwriter/issues">GitHub</a>. Your administrator can
      also collect the exception details from the server logs. Those logs will provide the necessary
      information to help us identify and fix the issue.{% endblocktrans %}
    </div>

    <a href="{% url 'home:dashboard' %}" class="btn btn-primary mt-2">{% trans "Return to Home" %}</a>
{% endblock content %}
