{% extends "base_generic.html" %}
{% load i18n %}

{% block pagetitle %}{% blocktrans with object=object %}Archive {{ object }}{% endblocktrans %}{% endblock %}

{% block content %}
    <div class="alert alert-danger mt-5" role="alert">
        <h5 class="alert-heading">{% trans "Tread Carefully!" %}</h4>
        {% trans "You are seeing this message because what you are about to do might have serious consequences." %}
    </div>

    <p>{% blocktrans with object=object %}Are you sure you want to archive report {{ object }}? This will generate the report, save it, then <em>delete all evidence</em>.{% endblocktrans %}</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger col-md-2" value="{% trans 'Archive' %}">
        <a class="btn btn-outline-secondary col-md-2" href="{{cancel_link}}">{% trans "Cancel" %}</a>
    </form>
{% endblock %}
