{% extends "collab_editing/update.html" %}

{% load i18n static %}

{% block pagetitle %}{% trans "Finding Form" %}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home:dashboard' %}">{% trans "Dashboard" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:findings' %}">{% trans "Findings" %}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reporting:finding_detail' pk=object.id %}">{{object.display_title}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans "Finding Form" %}</li>
        </ul>
    </nav>
{% endblock %}
